{% macro search_link(token, player) -%}
<a id="{{ player.name | replace(' ', '%20') }}"
   href="{{ url_for('stats', token=token) }}">
  {{ player.name }}
</a>
({{ player.team }})
{%- endmacro %}

          {% extends "layout.html" %}

    {% block custom_head_js %}
    <script src="/static/assets/js/utils.js"></script>

    <script type="text/javascript">
    //<![CDATA[
    $(window).load(function() {
        $(document).ready(function() {
            $('select[name=competition]').on('change', function() {
                $('select[name=event] option[value!=""]').remove()
                $('select[name=type] option[value!=""]').remove()
                $('select[name=section] option[value!=""]').remove()
                $('select[name=team] option[value!=""]').remove()
            });
        });
    });
    //]]>
    </script>

    <script type="text/javascript">
    //<![CDATA[
    $(document).ready(function() {
        var competition = $('select[name=competition]').val()
        $('select[name=event] option[value!=""]').remove()
        $('select[name=type] option[value!=""]').remove()
        $('select[name=section] option[value!=""]').remove()
        $('select[name=team] option[value!=""]').remove()
        $.getJSON($SCRIPT_ROOT + '/_compdetails?competition=' + competition, function(data) {
            $.each(data, function(key, value) {
                if (key === "event") {
                    $.each(value, function(idx, event) {
                        $('<option>').val(event).text(event).appendTo('select[name=event]');
                    });
                } else if (key === "event_type") {
                    $.each(value, function(idx, type) {
                        $('<option>').val(type).text(type).appendTo('select[name=type]');
                    });
                }
            });
        });
    });
    //]]>
    </script>

    <script type="text/javascript">
    //<![CDATA[
    $(window).load(function() {
        $(document).ready(function() {
            $('select[name=competition]').on('change', function() {
                var competition = $('select[name=competition]').val()
                $('select[name=event] option[value!=""]').remove()
                $('select[name=type] option[value!=""]').remove()
                $('select[name=section] option[value!=""]').remove()
                $('select[name=team] option[value!=""]').remove()
                $.getJSON($SCRIPT_ROOT + '/_compdetails?competition=' + competition, function(data) {
                    $.each(data, function(key, value) {
                        if (key === "event") {
                            $.each(value, function(idx, event) {
                                $('<option>').val(event).text(event).appendTo('select[name=event]');
                            });
                        } else if (key === "event_type") {
                            $.each(value, function(idx, type) {
                                $('<option>').val(type).text(type).appendTo('select[name=type]');
                            });
                        }
                    });
                });
            });
        });
    });
    //]]>
    </script>

    <!-- <script type="text/javascript">
    // Update teams on first load.
    //<![CDATA[
    $(document).ready(function() {
        var competition = $('select[name=competition]').val()
        var section = $('select[name=section]').val()
        if (section === null) {
            section = ''
        }
        var comp_type = $('select[name=type]').val()
        if (comp_type === null) {
            comp_type = ''
        }
        $('select[name=team] option[value!=""]').remove()

        $.getJSON($SCRIPT_ROOT + '/_teams?competition=' + competition + '&type=' + comp_type + '&section=' + section, function(data) {
            var selected_team = getUrlParameter('team');
            $.each(data, function(key, value) {
                $.each(value, function(idx, team) {
                    if (typeof selected_team !== "undefined" && selected_team.replace(/\+/g, ' ') === team) {
                        $('<option>').val(team).text(team).attr('selected', 'selected').appendTo('select[name=team]');
                    }
                    else {
                        $('<option>').val(team).text(team).appendTo('select[name=team]');
                    }
                });
            });
        });
    });
    //]]>
    </script> -->

    <script type="text/javascript">
    // Update teams when section changes.
    //<![CDATA[
    $(window).load(function() {
        $(document).ready(function() {
            $('select[name=section]').on('change', function() {
                var competition = $('select[name=competition]').val()
                var section = $('select[name=section]').val()
                var comp_type = $('select[name=type]').val()
                if (comp_type === null) {
                    comp_type = ''
                }

                $('select[name=team] option[value!=""]').remove()
                $.getJSON($SCRIPT_ROOT + '/_teams?competition=' + competition + '&type=' + comp_type + '&section=' + section, function(data) {
                    $.each(data, function(key, value) {
                        $.each(value, function(idx, team) {
                            $('<option>').val(team).text(team).appendTo('select[name=team]');
                        });
                    });
                });
            });
        });
    });
    //]]>
    </script>

    <script type="text/javascript">
    // Dynamically update section and team when event type changes.
    //<![CDATA[
    $(window).load(function() {
        $(document).ready(function() {
            $('select[name=type]').on('change', function() {
                var competition = $('select[name=competition]').val()
                var comp_type = $('select[name=type]').val()
                if (comp_type === "mens") {
                    comp_type = ''
                }
                var section = $('select[name=section]').val()
                if (section === null) {
                    section = ''
                }
                $('select[name=section] option[value!=""]').remove()
                $.getJSON($SCRIPT_ROOT + '/_sections?competition=' + competition + '&type=' + comp_type, function(data) {
                    $.each(data, function(key, value) {
                        $.each(value, function(idx, section) {
                            $('<option>').val(section).text(section).appendTo('select[name=section]');
                        });
                    });
                });

                $('select[name=team] option[value!=""]').remove()
                $.getJSON($SCRIPT_ROOT + '/_teams?competition=' + competition + '&type=' + comp_type + '&section=' + section, function(data) {
                    $.each(data, function(key, value) {
                        $.each(value, function(idx, team) {
                            $('<option>').val(team).text(team).appendTo('select[name=team]');
                        });
                    });
                });
            });
        });
    });
    //]]>
    </script>

    {% endblock custom_head_js %}

    {% block content %}
    <h4>Competition Search</h4>
    <div class="panel panel-default">

      <!-- Default panel contents -->
      <div class="panel-heading">
        <form class="form-inline" action="/munger" method="get">
          <div class="form-group">
            <!-- Competition -->
            <select class="form-control" name="competition">
              <option value=""{% if not result.competition %} selected disabled {% endif %}>Competition</option>
              <option value="dvta_thursday_night_spring_2019" {% if result.competition == "dvta_thursday_night_spring_2019"%}selected{% endif %}>DVTA Thursday Night Spring 2019</option>
              <option value="dvta_thursday_night_autumn_2019" {% if result.competition == "dvta_thursday_night_autumn_2019"%}selected{% endif %}>DVTA Thursday Night Autumn 2019</option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" name="event">
              <option value="">Event</option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" name="type">
              <option value="">Event type</option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" name="section">
              <option value="">Section</option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" name="team">
              <option value="">Team</option>
              <!-- <option value="{{ result.team }}" selected>{{ result.team }}</option> -->
            </select>
          </div>

          <button type="submit" class="btn btn-success">
            Get Rankings!
          </button>
        </form>
      </div>

      {% if result.get('players') is not none %}
      <table class="table table-striped"
             style="margin-bottom: 0px;">

        <thead>
          <tr>
            <th class="col-xs-1">&nbsp;</th>
            <th class="col-xs-3">
              Player (Section {{ result.section }})
            </th>
            <th class="col-xs-2">
              {{ result.event | capitalize }} matches<br>(won/lost %)
            </th>
            <th class="col-xs-2">
              Games Totals<br>won/lost (%)
            </th>
            <th class="col-xs-3">
              Last Played
            </th>
            <th class="col-xs-1">&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          {% for player in result.players %}
          {% if player[1][result.event]['games_played'] > 0 %}
          <tr>
            <!-- Rank -->
            <td> 
              <b>{{ player[1]['rank'] }}</b>
            </td>

            <!-- Player -->
            <td> 
              {{ search_link(player[0], player[1]) }}
            </td>

            <!-- Matches won/lost -->
            <td> 
              {% set set_pc = 0 %}
              {% if player[1][result.event]['games_lost'] > 0 %}
              {% set set_pc = player[1][result.event]['games_won'] / player[1][result.event]['games_lost'] * 100 %}
              {% endif %}
              {{ player[1][result.event]['games_played'] }} ({{ player[1][result.event]['games_won'] }}/{{ player[1][result.event]['games_lost'] }} {{ '%0.2f' % set_pc }}%)
            </td>

            <!-- Games won/lost -->
            <td>
              {% set set_pc = 0 %}
              {% if player[1][result.event]['score_against'] > 0 %}
              {% set set_pc = player[1][result.event]['score_for'] / player[1][result.event]['score_against'] * 100 %}
              {% endif %}
              {{ player[1][result.event]['score_for'] }}/{{ player[1][result.event]['score_against'] }} ({{ '%0.2f' % set_pc }}%)
            </td>

            <!-- Last played -->
            {% if player[1].last_fixture | length %}
            <td>
              {% set last_played = player[1].last_fixture[0].fixture.match_round %}
              {% set last_played_date = "" %}
              {% if last_played in range(1, 15) %}
                {% set last_played = "R" ~ last_played %}
              {% endif %}
              {% for fixture in player[1].last_fixture %}
              {% if fixture.player_won is not none and not fixture.player_won %}
              <span style="color:red">
              {% else %}
              <span>
              {% endif %}
                {{ fixture.score_for }}-{{ fixture.score_against }}
              </span>
              {% endfor %}

              {% set home_team = player[1].last_fixture[0].fixture.home_team %}
              {% if player[1].team == home_team %}
              hosting {{  player[1].last_fixture[0].fixture.away_team }}
              {% else %}
              @ {{  player[1].last_fixture[0].fixture.home_team }}
              {% endif %}
              ({{ last_played }}{{ last_played_date }})
            {% endif %}
            </td>

            <!-- Match results link -->
            <td>
              <a href="{{ url_for('results', token=player[0]) }}">
                <img alt="Scores" src="{{ url_for('static', filename='images/scores.png') }}" width="30%">
              </a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

    </div>
    {% endblock content %}
