          {% extends "layout.html" %}

          {% block tabs %}
          <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            {% block saturday_am_spring_2015_search %}
            <li class="active">
              <a href="#"
                 data-toggle="tab">
                <strong>NEJTA Saturday AM Spring 2015</strong>
              </a>
            </li>
            {% endblock saturday_am_spring_2015_search %}

            {% block saturday_am_autumn_2015_search %}
            {% endblock saturday_am_autumn_2015_search %}
          </ul>

            {% block tab_content %}
            <div class="panel panel-default">

              <!-- Default panel contents -->
              <div class="panel-heading">
                <form class="form-inline" action="/munger" method="get">
                  <div class="form-group">
                    <select class="form-control" name="event">
                      <option value="" {% if result.event == "" %}selected disabled {% endif %}>Event</option>
                      <option value="singles" {% if result.event == "singles" %}selected{% endif %}>singles</option>
                      <option value="doubles" {% if result.event == "doubles" %}selected{% endif %}>doubles</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select class="form-control" name="type">
                      <option value="" {% if result.comp_type == "" %}selected disabled{% endif %}>Event type</option>
                      <option value="boys" {% if result.comp_type == "boys" %}selected{% endif %}>boys</option>
                      <option value="girls" {% if result.comp_type == "girls" %}selected{% endif %}>girls</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select class="form-control" name="section">
                      <option value="" {% if result.section == "" %}selected disabled{% endif %}>Section</option>
                      {% for section_no in range(1, 27) %}
                      <option value="{{ section_no }}"{% if result.section == section_no|string %}selected{% endif %}>{{ section_no }}</option>
                      {%- endfor %}
                    </select>
                  </div>
                  <button type="submit" class="btn btn-success">Get Rankings!</button>
                </form>
              </div>

              <table class="table">
                <tbody>
                  {% set position = 1 %}
                  {% for player in result.players %}
                  <tr>
                    <td> 
                      <!-- Doubles panel -->
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <b>{{ position }}.&nbsp;{{ player[1].name }}&nbsp;({{ player[1].team }})&nbsp;Section&nbsp;{{ player[1].section }}</b>
                        </div>

                        <table class="table-condensed">
                          <tbody>
                            <tr>
                              <td>
                                <strong>Games played&nbsp;({{ result.event }}):&nbsp;</strong>
                              </td>
                              <td>
                                {{ player[1][result.event]['games_played'] }}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <strong>Sets won/lost:</strong>
                              </td>
                              <td>
                                {% set set_pc = 0 %}
                                {% if player[1][result.event]['games_lost'] > 0 %}
                                {% set set_pc = player[1][result.event]['games_won'] / player[1][result.event]['games_lost'] * 100 %}
                                  {% endif %}
                                  {{ player[1][result.event]['games_won'] }}/{{ player[1][result.event]['games_lost'] }}&nbsp;@&nbsp;{{ '%0.2f' % set_pc }}%
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <strong>Games won/lost:</strong>
                              </td>
                              <td>
                                {% set set_pc = 0 %}
                                {% if player[1][result.event]['score_against'] > 0 %}
                                {% set set_pc = player[1][result.event]['score_for'] / player[1][result.event]['score_against'] * 100 %}
                                  {% endif %}
                                  {{ player[1][result.event]['score_for'] }}/{{ player[1][result.event]['score_against'] }}&nbsp;@&nbsp;{{ '%0.2f' % set_pc }}%
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td> 
                  </tr> 
                  {% set position = position + 1 %}
                  {% endfor %}
                </tbody>
              </table>

            </div>
            {% endblock tab_content %}
          {% endblock tabs %}
