        {% extends "layout.html" %}
        {% set title = 'Upload files' %}
        {% block content %}
        <div class="col-sm-9
                    col-sm-offset-3
                    col-md-10
                    col-md-offset-2
                    main">
          {% block steps %}
          <h2 class="page-header">Upload files</h2>

          <div id="baip-row" class="row placeholders">
            <div class="col-xs-6 col-sm-3 col-md-6 panel">
              <input type="file"
                     class="filestyle"
                     data-buttonName="btn-primary"
                     data-buttonBefore="true"
                     data-buttonText="Find file">
            </div>
            <div class="col-xs-3 col-sm-2 panel">
              <img src="/static/images/arrow_right.png"
                   alt="Arrow right"
                   style="width:75px;height:75px">
            </div>
            <div class="col-xs-6 col-sm-3 placeholder panel">
              <img data-src="holder.js/100x100/text:Configuration/vine"
                   class="img-responsive"
                   alt="Configuration">
              <h4>Step 2</h4>
              <span class="text-muted">Configuration</span>
            </div>
          </div>
          {% endblock steps %}

          {% block pending %}
          <h3 class="sub-header">Pending munge</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                </tr>
              </tbody>
            </table>
          </div>
          {% endblock pending %}
        </div>
        {% endblock content %}
