{% macro search_link(player_name) -%}
<a href="{{ url_for('players', q=player_name) }}">
  {{ player_name }}
</a>
{%- endmacro %}

{% extends "layout.html" %}
{% block content %}

{% for token, values in result.items() %}
<h3>{{ search_link(values.name) }}</h3>
<h4>{{ values.team }} Section {{ values.section }} {{ values.comp_string }}</h4>
<table class="table table-condensed">
  <thead>
    <tr>
      <th class="col-xs-3"></th>
      <th class="col-xs-2">
        Sets Played
      </th>
      <th class="col-xs-3">
        Sets won/lost:
      </th>
      <th class="col-xs-3">
        Games won/lost
      </th>
      <th class="col-xs-1"></th>
    </tr>
  </thead>

  {% for event_type in ['singles', 'doubles'] %}
  {% if values[event_type] is not none %}
  {% if values[event_type].games_played > 0 %}
  <tbody>
    <tr>
      <th>{{ event_type|capitalize }}</th>
      <td>{{ values[event_type].games_played }}</td>
      <td>
        {% set set_pc = 0 %}
        {% if values[event_type].games_lost > 0 %}
          {% set set_pc = values[event_type].games_won / values[event_type].games_lost * 100 %}
        {% endif %}

        {{ values[event_type].games_won }}/{{ values[event_type].games_lost }} @ {% if values[event_type].games_lost == 0 %}&#8734;{% else %}{{ '%0.2f' % set_pc }}%{% endif %}
      </td>
      <td>
        {% set score_pc = 0 %}
        {% if values[event_type].score_against > 0 %}
          {% set score_pc = values[event_type].score_for / values[event_type].score_against * 100 %}
        {% endif %}
        {{ values[event_type].score_for }}/{{ values[event_type].score_against }} @ {% if values[event_type].score_against == 0 %}&#8734;{% else %}{{ '%0.2f' % score_pc }}%{% endif %}
      </td>
      <td>
         {% set ranking_url = url_for('munger',
                                      event=event_type,
                                      type=values.comp_type,
                                      section=values.section,
                                      competition=values.comp,
                                      _anchor=values.name) -%}

        <span class="pull-right">
          <a href="{{ ranking_url }}">
            <img alt="Rankings" src="{{ url_for('static', filename='images/ranking.png') }}" width="90%">
          </a>
        </span>
      </td>
    </tr>
  </tbody>
  {% endif %}
  {% endif %}
  {% endfor %}
</table>
{% endfor %}

{% endblock content %}
