<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        The above 3 meta tags *must* come first in the head;
        any other head content must come *after* these tags
    -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>TROLS Munger {{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .main-container {
          box-shadow: 1px 1px 2px gray;
      }

      html,body {
          height:100%;
      }

      body {
          padding-top: 90px; /*padding for navbar*/
      }

      .navbar-custom {
          box-shadow: 1px 1px 2px gray;
          background-color: #EDEDED;
          color: #fff;
      }

      .navbar-fixed-top {
          min-height: 87px;
      }

      .panel {
          margin-bottom: 0;
      }

      .vertical-center {
           min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
           min-height: 100vh; /* These two lines are counted as one :-)       */
           display: flex;
           align-items: center;
      }

    </style>

    <!-- Custom styles for this template -->
    <link href="/static/css/trols.css" rel="stylesheet">
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar-fixed-top navbar-custom">

      <!-- Navbar brand -->
      <div class="navbar-header hidden-xs">
        <a href="/munger"
           class="navbar-brand"
           data-toggle="collapse"
           data-target=".navbar-collapse">
          <img id="logo-main"
               src="/static/images/tennis_ball.png"
               width="230"
               class="main-container"
               alt="TROLS Munger Tennis Ball">
        </a>
      </div>

      <div class="pull-right" style="padding-top: 20px;">
        <form class="navbar-form" action="/munger/players">
          <div class="form-group">
            <div class="input-group">
              <input name="q"
                     type="text"
                     class="form-control"
                     placeholder="Player ...">
              <div class="input-group-btn">
                  <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
        {% block content %}
        <div id="content">

          {% block tabs %}
          <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            {% block saturday_am_spring_2015_search %}
            <li class="active">
              <a href="#"
                 data-toggle="tab">
                <strong>NEJTA Saturday AM Spring 2015</strong>
              </a>
            </li>
            {% endblock saturday_am_spring_2015_search %}

            {% block saturday_am_autumn_2015_search %}
            <li>
              <a href="#"
                 data-toggle="tab">
                <strong>NEJTA Saturday AM Autumn 2015</strong>
              </a>
            </li>
            {% endblock saturday_am_autumn_2015_search %}
          </ul>
          <div id="my-tab-content" class="tab-content">
            {% block tab_content %}{% endblock tab_content %}
            <div class="tab-pane active"
                 id="netja_saturday_am_spring_2015">
            </div>
          </div>
          {% endblock tabs %}
        </div>
      </div>
      {% endblock content %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/assets/js/vendor/holder.js"></script>
    <script src="/static/assets/js/vendor/bootstrap-filestyle.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
