{% extends "layout.html" %}
{% set search_placeholder = '%s' % result.search_terms if result.get('search_terms') is not none %}
{% block saturday_am_autumn_2015_search %}{% endblock %}
{% block saturday_am_spring_2015_search %}{% endblock %}

{% block content %}

{% if result.players|length %}
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="col-xs-4">Competition</th>
      <th class="col-xs-3">Player</th>
      <th class="col-xs-3">Team</th>
      <th class="col-xs-2">Section #</th>
    </tr>
  </thead>

  <tbody>
  {% for player in result.players %}
    <tr>
      <td>
        {{ player.comp_string }}
      </td>
      <td>
        <a href="{{ url_for('stats', token=player.token) }}">
          {{ player.name }}
        </a>
      </td>
      <td>
        {{ player.team }}&nbsp;{{ player.comp_type }}
      </td>
      <td>
        {{ player.section }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock content %}

            {% block tab_content %}
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">
                <b><i>Search terms: </i></b>{{ search_terms }}
              </div>

              <!-- Table -->
              <table class="table" table-striped">
                <thead>
                  <tr>
                    <th>Competition</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Section #</th>
                  </tr>
                </thead>

                <tbody>
                  {% for player in result %}
                  <tr>
                    <td>
                      <a href="/munger/stats?token={{ player.token }}">
                        {{ player.name }}
                      </a>
                    </td>
                    <td>{{ player.team }}&nbsp;{{ player.comp_type }}</td>
                    <td>{{ player.section }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endblock tab_content %}
