/* TROLS Munger custom CSS
 */
#trols-row {
    display: table;
}

#trols-row .panel {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

header[role="banner"] {
  #logo-main {
    display: block;
  }
}
